<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelmo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HotelBookingDetailEdit"></activity>
        <activity android:name=".GuideBookingDetailEdit" />
        <activity android:name=".GuideBookingConfirm" />
        <activity android:name=".HotelBookingConfirm" />
        <activity
            android:name=".GuideBooking"
            android:label="@string/title_activity_guide_booking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HotelBooking"
            android:label="@string/title_activity_hotel_booking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuideUsers"
            android:label="@string/title_activity_guide_users"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HotelUsers"
            android:label="@string/title_activity_hottel_users"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserChoice"
            android:label="@string/title_activity_user_choice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Places"
            android:label="@string/title_activity_places"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>